# Ignore virtual environments
.venv/
venv/
ENV/
env/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store
*.log

# Ignore Jupyter and Gradio cache
.ipynb_checkpoints/
.gradio/

# Ignore local data
data/cache/
data/processed/

# Ignore build / dist
build/
dist/
*.egg-info/
